Thumbs.db
.project   
.classpath
/.evosuite/
/.settings/
/.idea/
/target/
*.class  
*.log   
*.bak   
*.tmp
*.swp
*.orig
*.iml
out
gen
target
logs
LOG_PATH_IS_UNDEFINEDdaily
LOG_PATH_IS_UNDEFINEDLOG_FILE_IS_UNDEFINED
*.prefs
org.eclipse.wst.common.project.facet.core.xml
.project
.classpath
.factorypath